<% provide(:title, "Employee (#{@employee.id})") %>

<div class="container-fluid well">

  <%= form_for(@employee , html: { class: 'form-horizontal' }) do |f| %>
    <%= render 'shared/error_messages', object: @employee %>

    <div class="col-sm-10">

      <div class="form-group">
        <div class="col-sm-6 text-center"><strong>FIRST NAME</strong></div>
        <div class="col-sm-6 text-center"><strong>LAST NAME</strong></div>
      </div>

      <div class="form-group">
        <div class="col-sm-6 text-center"><%= f.text_field :first_name, class: 'form-control text-center' %></div>
        <div class="col-sm-6 text-center"><%= f.text_field :last_name, class: 'form-control text-center' %></div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="row text-center" style="margin: 8px"><%= f.submit 'SAVE CHANGES', class: 'btn btn-primary' %></div>
      <div class="row text-center"><%= link_to 'DELETE EMPLOYEE', @employee, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></div>
    </div>

  <% end %>

</div>

<div class="container-fluid">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">ASSIGNED TASKS (<%= @tasks.count %>)</h3>
    </div>
    <div class="panel-body">

      <table class="table table-bordered text-center">
        <thead>
        <tr>
          <th>ID</th>
          <th>TASK NAME</th>
          <th>START DATE</th>
          <th>TOTAL DAYS</th>
          <th>ACTIONS</th>
        </tr>
        </thead>
        <tbody>
        <% @tasks.each do |t| %>
          <tr>
            <td><%= t.id %></td>
            <td><%= t.name %></td>
            <td><%= t.start_date %></td>
            <td><%= t.total_days %></td>
            <td>
              <a href="<%= url_for(t) %>" title="Show Task"><span class="glyphicon glyphicon-search"></span></a>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>